<div style="background-color: red; color: white; text-align: center; font-family: 'Times New Roman', Times, serif;">
  <h1 class="text-center text-4xl font-bold" style="font-size: 50px; padding: 20px;">About Us</h1>
</div>

<h1 class="text-center text-4xl font-bold" style="font-size: 50px; padding: 40px; font-family: 'Times New Roman', Times, serif;">Why <span style="border-bottom: 2px solid red;">Shop</span> With Us</h1>


<section class="text-gray-600 body-font">
  <div class="container px-4 py-10 mx-auto flex flex-wrap">
    <div class="lg:w-8/6 mx-auto">
      <div class="flex flex-wrap -mx-2">
        <div class="px-2 w-full md:w-1/3">
          <div class="flex flex-wrap h-full w-full bg-black py-10 px-6 relative mb-4">
            <div class="text-center relative z-10 w-full text-white">
              <img src="assets/delivery.png" alt="Delivery Icon" class="mx-auto w-12 h-12 mb-4">
              <h2 class="text-xl font-medium font-bold" style="font-family: 'Times New Roman', Times, serif;">Free Delivery </h2>
              <p class="leading-relaxed" style="font-family: 'Times New Roman', Times, serif;">Your products will be delivered on time.</p>
            </div>
          </div>
        </div>
        <div class="px-2 w-full md:w-1/3">
          <div class="flex flex-wrap h-full w-full bg-black py-10 px-6 relative mb-4">
            <div class="text-center relative z-10 w-full text-white">
              <img src="assets/free.jpg" alt="Free Shipping Icon" class="mx-auto w-12 h-12 mb-4">
              <h2 class="text-xl font-medium font-bold" style="font-family: 'Times New Roman', Times, serif;">Free Shipping </h2>
              <p class="leading-relaxed" style="font-family: 'Times New Roman', Times, serif;">You will get the best shipping deals.</p>
            </div>
          </div>
        </div>
        <div class="px-2 w-full md:w-1/3">
          <div class="flex flex-wrap h-full w-full bg-black py-10 px-6 relative mb-4">
            <div class="text-center relative z-10 w-full text-white">
              <img src="assets/best.png" alt="Best Quality Icon" class="mx-auto w-12 h-12 mb-4">
              <h2 class="text-xl font-medium font-bold" style="font-family: 'Times New Roman', Times, serif;">Best Quality </h2>
              <p class="leading-relaxed" style="font-family: 'Times New Roman', Times, serif;">Supreme quality products with affordable price range.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
