<header class="text-gray-700 body-font bg-white shadow-md" style="position: sticky; top: 0; z-index: 1000;">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 hover:text-red-500">
            <img src="\assets\logo.jpg" alt="" class="w-12 h-12 rounded-full ml-1 p-0 mr-4">
            <span class="ml-1 p-0 text-2xl text-black hover:text-red-500" style="font-family: 'Times New Roman', Times, serif;">Ecommerce-Shop</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center p-1 text-base justify-center font-bold" style="font-family: 'Times New Roman', Times, serif;">
            <a routerLink="/" routerLinkActive="active" class="mr-5 text-black hover:text-red-500">HOME</a>
            <a routerLink="/about" routerLinkActive="active" class="mr-5 text-black hover:text-red-500">ABOUT</a>
            <a routerLink="/products" routerLinkActive="active" class="mr-5 text-black hover:text-red-500">PRODUCTS</a>
            <a routerLink="/contact" routerLinkActive="active" class="mr-5 text-black hover:text-red-500">CONTACT</a>
        </nav>
        <div class="flex items-center ml-4"> <!-- Adjusted margin -->
            <img src="\assets\logoo.jpg" alt="Logo" class="w-12 h-12 mr-2 hover:opacity-80 transition duration-300 ease-in-out transform hover:scale-110"> <!-- Logo with hover effect -->
            <img src="\assets\search.png" alt="Search Icon" class="w-5 h-5 hover:opacity-80 transition duration-300 ease-in-out transform hover:scale-110"> <!-- Search Icon with hover effect -->
        </div>
    </div>
</header>