<div class="image-with-text">
    <div class="text-content" style="color: white;">
        <h2 style="font-size: 50px; font-weight: bold;  color: red; font-family: 'Times New Roman', Times, serif;">Sale 20% Off</h2>
        <p style="font-size: 30px;font-weight: bold; font-family: 'Times New Roman', Times, serif; color: darkblue;">On Everything</p>
        <p style="color: black; font-family: 'Times New Roman', Times, serif;" >Discover amazing deals and explore our latest arrivals to upgrade your shopping experience on our ecommerce website.</p>
        <a routerLink="/products" class="shop-now-button" style="background-color: red; color: white; text-decoration: none; display: inline-block; padding: 10px 20px;">Shop Now</a>
    </div>
    <img src="assets/bbgg.jpg" alt="Image">
</div>
